/target/
/Resource and Expiration Results/
/Raw_Yellow_Taxi_Data/training_morning_1.csv
/Raw_Yellow_Taxi_Data/training_morning_2.csv
/Raw_Yellow_Taxi_Data/training_morning_3.csv
/Raw_Yellow_Taxi_Data/training_morning_4.csv
/Raw_Yellow_Taxi_Data/training_morning_5.csv
/Raw_Yellow_Taxi_Data/training_morning_6.csv
/Raw_Yellow_Taxi_Data/training_morning_7.csv
/Raw_Yellow_Taxi_Data/training_morning_8.csv
/Raw_Yellow_Taxi_Data/training_morning_9.csv
/Raw_Yellow_Taxi_Data/training_morning_10.csv
/Raw_Yellow_Taxi_Data/training_morning_11.csv
/Raw_Yellow_Taxi_Data/training_morning_12.csv
/Raw_Yellow_Taxi_Data/training_morning_13.csv
/Raw_Yellow_Taxi_Data/training_morning_14.csv
/Raw_Yellow_Taxi_Data/training_morning_15.csv
/Raw_Yellow_Taxi_Data/training_morning_16.csv
/Raw_Yellow_Taxi_Data/training_morning_17.csv
/Raw_Yellow_Taxi_Data/training_morning_18.csv
/Raw_Yellow_Taxi_Data/training_morning_19.csv
/Raw_Yellow_Taxi_Data/training_morning_20.csv
